[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "reference/lib/v2-periphery"]
	path = reference/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "reference/lib/v2-core"]
	path = reference/lib/v2-core
	url = https://github.com/Uniswap/v2-core
