[submodule "lib/rain.will-overflow"]
	path = lib/rain.will-overflow
	url = https://github.com/rainprotocol/rain.will-overflow
[submodule "lib/rain.interpreter"]
	path = lib/rain.interpreter
	url = https://github.com/rainlanguage/rain.interpreter
[submodule "lib/view-quoter-v3.git"]
	path = lib/view-quoter-v3.git
	url = https://github.com/rainlanguage/view-quoter-v3.git
	branch = 2024-06-23-loose-decode-slot0